# System dependencies & artifacts
node_modules/
downloads/
separated/
dist/
build/
.env
.DS_Store

# Portable runtimes
bin/
python/
.mirror_config

# Logs
*.log
npm-debug.log*

# User credentials
cookies_*.txt
cookies.txt
auth.json
secrets.json

yt-dlp.exe
ffmpeg.exe
ffprobe.exe
