# System dependencies & artifacts
node_modules/
downloads/
separated/
dist/
build/
.env
.DS_Store

# Portable runtimes
bin/
python/
.bootstrap/
.mirror_config
.bootstrap_state.cmd
.bootstrap_pip_state.json

# Logs
*.log
npm-debug.log*
tmp-*.log
__pycache__/
*.pyc

# Local app settings
advanced-config.json

# Bootstrap temp files
bootstrap-get-pip.py
*.download

# User credentials
cookies_*.txt
cookies.txt
auth.json
secrets.json
paxsenix_token.txt

yt-dlp.exe
ffmpeg.exe
ffprobe.exe
